<%- include('../partials/header') %>

<h2> Flight List</h2>
<table>
    <thead>
        <tr>
            <th>Airplane</th>
            <th>Airport</th>
            <th>FlightNo</th>
            <th>Departs</th>
        </tr>
    </thead>
    <tbody>
<% flights.forEach(function(f) { %>
    <tr>
        <td><%= f.airplane %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id%>">Details</a></td>
        <td></td>
        <td></td>
    </tr>

<%}); %>
    </tbody>
</table>

<%- include('../partials/footer') %>